# ---------------------------------------------------------------------------
# Shorthand Word Lookup Web App
# Python package requirements
# ---------------------------------------------------------------------------

flask
wordfreq
eng-to-ipa
nltk==3.9.4
gunicorn
